xsd/1.0/FINT/Kodeverk/kodeverk.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://ns.felleskomponent.no/hr/kodeverk/0.1" xmlns:kv="https://ns.felleskomponent.no/hr/kodeverk/0.1" elementFormDefault="qualified">
  <!-- Generert av MetaTrans(1.1.0.0) - 26.01.2017 08.41.44-->
  <xs:element name="Ansvar" type="kv:AnsvarType" />
  <xs:complexType name="AnsvarListe">
    <xs:sequence>
      <xs:element name="ansvar" type="kv:AnsvarType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnsvarType">
    <xs:complexContent>
      <xs:extension base="kv:AbstraktKodeverdi2Type">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Art" type="kv:ArtType" />
  <xs:complexType name="ArtListe">
    <xs:sequence>
      <xs:element name="art" type="kv:ArtType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArtType">
    <xs:complexContent>
      <xs:extension base="kv:AbstraktKodeverdi2Type">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Begrep" type="kv:BegrepType" />
  <xs:complexType name="BegrepListe">
    <xs:sequence>
      <xs:element name="begrep" type="kv:BegrepType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BegrepType">
    <xs:sequence>
      <xs:element name="beskrivelse" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="navn" minOccurs="1" maxOccurs="1" type="fm:IdentifikatorType" />
      <xs:element name="begrepskode" minOccurs="0" maxOccurs="1" nillable="true" type="kv:BegrepsverdiListe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Begrepsverdi" type="kv:BegrepsverdiType" />
  <xs:complexType name="BegrepsverdiListe">
    <xs:sequence>
      <xs:element name="begrepsverdi" type="kv:BegrepsverdiType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BegrepsverdiType">
    <xs:sequence>
      <xs:element name="kode" minOccurs="1" maxOccurs="1" type="fm:IdentifikatorType" />
      <xs:element name="verdi" minOccurs="1" maxOccurs="1" type="fm:IdentifikatorType" />
      <xs:element name="beskrivelse" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="gyldigFra" minOccurs="1" maxOccurs="1" type="fm:PeriodeType" />
      <xs:element name="gyldigTil" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="statusId" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HtaKapittel" type="kv:HtaKapittelType" />
  <xs:complexType name="HtaKapittelListe">
    <xs:sequence>
      <xs:element name="htakapittel" type="kv:HtaKapittelType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HtaKapittelType">
    <xs:complexContent>
      <xs:extension base="kv:AbstraktKodeverdi2Type">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Kodeverdi" type="kv:KodeverdiType" />
  <xs:complexType name="KodeverdiListe">
    <xs:sequence>
      <xs:element name="kodeverdi" type="kv:KodeverdiType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KodeverdiType">
    <xs:sequence>
      <xs:element name="kode" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="beskrivelse" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="gyldighetsperiode" minOccurs="1" maxOccurs="1" type="fm:PeriodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstraktKodeverdi2" type="kv:AbstraktKodeverdi2Type" />
  <xs:complexType name="AbstraktKodeverdi2Liste">
    <xs:sequence>
      <xs:element name="abstraktkodeverdi2" type="kv:AbstraktKodeverdi2Type" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AbstraktKodeverdi2Type" abstract="true">
    <xs:sequence>
      <xs:element name="kode" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="beskrivelse" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kodeverk" type="kv:KodeverkType" />
  <xs:complexType name="KodeverkListe">
    <xs:sequence>
      <xs:element name="kodeverk" type="kv:KodeverkType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KodeverkType">
    <xs:sequence>
      <xs:element name="id" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="navn" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kontostreng" type="kv:KontostrengType" />
  <xs:complexType name="KontostrengListe">
    <xs:sequence>
      <xs:element name="kontostreng" type="kv:KontostrengType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KontostrengType">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Kontostreng" type="kv:KontostrengType" />
  <xs:complexType name="KontostrengListe">
    <xs:sequence>
      <xs:element name="kontostreng" type="kv:KontostrengType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KontostrengType">
    <xs:sequence>
      <xs:element name="Dim1" minOccurs="1" maxOccurs="1" type="kv:KodeverkType" />
      <xs:element name="Dim2" minOccurs="1" maxOccurs="1" type="kv:KodeverkType" />
      <xs:element name="Dim3" minOccurs="1" maxOccurs="1" type="kv:KodeverkType" />
      <xs:element name="Dim4" minOccurs="1" maxOccurs="1" type="kv:KodeverkType" />
      <xs:element name="Dim5" minOccurs="1" maxOccurs="1" type="kv:KodeverkType" />
      <xs:element name="Dim6" minOccurs="1" maxOccurs="1" type="kv:KodeverkType" />
      <xs:element name="Dim7" minOccurs="1" maxOccurs="1" type="kv:KodeverkType" />
      <xs:element name="Dim8" minOccurs="1" maxOccurs="1" type="kv:KodeverkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kontostreng 2" type="kv:Kontostreng 2Type" />
  <xs:complexType name="Kontostreng 2Liste">
    <xs:sequence>
      <xs:element name="kontostreng 2" type="kv:Kontostreng 2Type" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kontostreng 2Type">
    <xs:sequence>
      <xs:element name="Dim1" minOccurs="1" maxOccurs="1" type="Art" />
      <xs:element name="Dim2" minOccurs="1" maxOccurs="1" type="Ansvar" />
      <xs:element name="Dim3" minOccurs="1" maxOccurs="1" type="Tjeneste" />
      <xs:element name="Dim4" minOccurs="1" maxOccurs="1" type="Prosjekt" />
      <xs:element name="Dim5" minOccurs="1" maxOccurs="1" type="Arbeidssted" />
      <xs:element name="..." minOccurs="1" maxOccurs="1" type="..." />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kontostreng alternativ" type="kv:Kontostreng alternativType" />
  <xs:complexType name="Kontostreng alternativListe">
    <xs:sequence>
      <xs:element name="kontostreng alternativ" type="kv:Kontostreng alternativType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Kontostreng alternativType">
    <xs:sequence>
      <xs:element name="art" minOccurs="1" maxOccurs="1" type="Kodeverdi" />
      <xs:element name="tjeneste" minOccurs="1" maxOccurs="1" type="Kodeverdi" />
      <xs:element name="ansvar" minOccurs="1" maxOccurs="1" type="Kodeverdi" />
      <xs:element name="prosjekt" minOccurs="1" maxOccurs="1" type="Kodeverdi" />
      <xs:element name="..." minOccurs="1" maxOccurs="1" type="..." />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Prosjekt" type="kv:ProsjektType" />
  <xs:complexType name="ProsjektListe">
    <xs:sequence>
      <xs:element name="prosjekt" type="kv:ProsjektType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProsjektType">
    <xs:complexContent>
      <xs:extension base="kv:AbstraktKodeverdi2Type">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Relasjon" type="kv:RelasjonType" />
  <xs:complexType name="RelasjonListe">
    <xs:sequence>
      <xs:element name="relasjon" type="kv:RelasjonType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelasjonType">
    <xs:sequence>
      <xs:element name="kodeverdi" minOccurs="1" maxOccurs="1" type="kv:KodeverdiType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stillingskode" type="kv:StillingskodeType" />
  <xs:complexType name="StillingskodeListe">
    <xs:sequence>
      <xs:element name="stillingskode" type="kv:StillingskodeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StillingskodeType">
    <xs:complexContent>
      <xs:extension base="kv:AbstraktKodeverdi2Type">
        <xs:sequence>
          <xs:element name="yrkeskode" minOccurs="1" maxOccurs="1" type="Yrkeskode" />
          <xs:element name="loennsrammeKapittel" minOccurs="1" maxOccurs="1" type="HtaKapittel" />
          <xs:element name="loennsrammeAlternativ" minOccurs="1" maxOccurs="1" type="HtaAlternativ" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Yrkeskode" type="kv:YrkeskodeType" />
  <xs:complexType name="YrkeskodeListe">
    <xs:sequence>
      <xs:element name="yrkeskode" type="kv:YrkeskodeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="YrkeskodeType">
    <xs:complexContent>
      <xs:extension base="kv:AbstraktKodeverdi2Type">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>