GeneratedXsd/Arbeidstaker.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://skjema.kxml.no/fint/arbeidstaker/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Person.xsd"/>
	<xs:include schemaLocation="Identifikasjon.xsd"/>
	<xs:include schemaLocation="Aktor.xsd"/>
	<xs:element name="Arbeidstaker" type="Arbeidstaker"/>
	<xs:complexType name="Arbeidstaker">
		<xs:annotation>
			<xs:documentation>Alle ressurser i HR</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Person">
				<xs:sequence>
					<xs:element name="stillinger" type="Stilling" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Periode" type="Periode" minOccurs="1" maxOccurs="1"/>
					<xs:element name="Kontaktinformasjon" type="Kontaktinformasjon" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Stilling" type="Stilling"/>
	<xs:complexType name="Stilling">
		<xs:sequence>
			<xs:element name="avdeling" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tilhørighet til avdeling, feks "Avdeling for Helse og mijlø" (dette er ikke med i Visma sitt API)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="funksjon" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Eksempel (fra VFS-api): "Studiespesialisering" eller "PEDAGOGISK LEDELSE OG PEDAGOGISKE FELLESUTGIFTER"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="grunnlønn" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="organisasjon" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For eksempel: "Bjerke videregående skole". Tilsvarer Arbeidssted i HR-system, mens VFS kaller dette for Ansvar og beskriver det med: "Type 2 = Ansvar, benyttes til å plassere den ansatte på riktig skole".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="status" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="stillingsdatoer" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hvilket tidsrom stillingen gjelder.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stillingskode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Se liste fra KS. Flere fylkeskommuner har utvidet denne med 2 siffer ekstra.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stillingsnummer" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>En unik id for en ansatt sine stillinger.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stillingsprosent" type="xs:double" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stillingsprossent</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="stillingstittel" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Periode" type="Periode" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
