xsd/1.0/FINT/Felles/fintfelles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skjema.kxml.no/fint/felles/1.0" xmlns:fm="http://skjema.kxml.no/fint/felles/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified">
  <!-- Generert av MetaTrans(1.1.0.0) - 14.10.2016 09:32:43-->
  <xs:element name="Spraak" type="fm:SpraakType" />
  <xs:complexType name="SpraakType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Landkode" type="fm:LandkodeType" />
  <xs:complexType name="LandkodeType">
    <xs:sequence>
      <xs:element name="kode" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="beskrivelse" type="xs:string" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstraktAktoer" type="fm:AbstraktAktoerType" />
  <xs:complexType name="AbstraktAktoerListe">
    <xs:sequence>
      <xs:element name="abstraktaktoer" type="fm:AbstraktAktoerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="AbstraktAktoerType" abstract="true">
    <xs:annotation>
      <xs:documentation>Person eller enhet vi samhandler med.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifikator" minOccurs="0" maxOccurs="1" nillable="true" type="fm:IdentifikatorListe" />
      <xs:element name="kontaktinformasjon" minOccurs="0" maxOccurs="1" nillable="true" type="fm:KontaktinformasjonListe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kontaktinformasjon" type="fm:KontaktinformasjonType" />
  <xs:complexType name="KontaktinformasjonListe">
    <xs:sequence>
      <xs:element name="kontaktinformasjon" type="fm:KontaktinformasjonType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="KontaktinformasjonType">
    <xs:annotation>
      <xs:documentation>Informasjon som kan brukes for kontakt med en aktør</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="epostadresse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="telefonnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="mobiltelefonummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="websted" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="kontakttype" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeografiskAdresse" type="fm:GeografiskAdresseType" />
  <xs:complexType name="GeografiskAdresseListe">
    <xs:sequence>
      <xs:element name="geografiskadresse" type="fm:GeografiskAdresseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="GeografiskAdresseType">
    <xs:annotation>
      <xs:documentation>Adresse til en aktør</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gateadresse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:String" />
      <xs:element name="postnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:String" />
      <xs:element name="poststed" minOccurs="0" maxOccurs="1" nillable="true" type="xs:String" />
      <xs:element name="land" minOccurs="0" maxOccurs="1" nillable="true" type="fm:LandkodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstraktEnhet" type="fm:AbstraktEnhetType" />
  <xs:complexType name="AbstraktEnhetListe">
    <xs:sequence>
      <xs:element name="abstraktenhet" type="fm:AbstraktEnhetType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="AbstraktEnhetType" abstract="true">
    <xs:annotation>
      <xs:documentation>Alle hovedenheter, underenheter og organisasjonsledd som er identifisert med et organisasjonsnummer

Merknad: Forslag til definisjon med utgangspunkt i Enhetsregisteret</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fm:AbstraktAktoerType">
        <xs:sequence>
          <xs:element name="organisasjonsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="navn" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="organisasjonsform" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="naeringskode" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="fm:GeografiskAdresseType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Identifikator" type="fm:IdentifikatorType" />
  <xs:complexType name="IdentifikatorListe">
    <xs:sequence>
      <xs:element name="identifikator" type="fm:IdentifikatorType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="IdentifikatorType">
    <xs:annotation>
      <xs:documentation>En kombinasjon av tegn eller og/eller bokstaver som identifiserer en aktør eller objekt innenfor et sett av aktører eller objekter</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="identifikatorverdi" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="identifikatortype" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="utstedtdato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
      <xs:element name="utstedtAvAutoritet" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="gyldighetsperiode" minOccurs="0" maxOccurs="1" nillable="true" type="fm:PeriodeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Periode" type="fm:PeriodeType" />
  <xs:complexType name="PeriodeListe">
    <xs:sequence>
      <xs:element name="periode" type="fm:PeriodeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="PeriodeType">
    <xs:annotation>
      <xs:documentation>Tidsperiode (fra- og tildato).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="start" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
      <xs:element name="slutt" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AbstraktPerson" type="fm:AbstraktPersonType" />
  <xs:complexType name="AbstraktPersonListe">
    <xs:sequence>
      <xs:element name="abstraktperson" type="fm:AbstraktPersonType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="AbstraktPersonType" abstract="true">
    <xs:annotation>
      <xs:documentation>Fysiske personer</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="fm:AbstraktAktoerType">
        <xs:sequence>
          <xs:element name="fulltNavn" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="navn" minOccurs="1" maxOccurs="1" type="fm:PersonnavnType" />
          <xs:element name="kjoenn" minOccurs="0" maxOccurs="1" nillable="true" type="fm:KjoennType" />
          <xs:element name="statsborgerskap" minOccurs="0" maxOccurs="1" nillable="true" type="fm:LandkodeType" />
          <xs:element name="foedselsdato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="foedested" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="foedeland" minOccurs="0" maxOccurs="1" nillable="true" type="fm:LandkodeType" />
          <xs:element name="doedsdato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="doedssted" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="doedsland" minOccurs="0" maxOccurs="1" nillable="true" type="fm:LandkodeType" />
          <xs:element name="sivilstand" minOccurs="0" maxOccurs="1" nillable="true" type="fm:SivilstandType" />
          <xs:element name="opprinneligNavn" minOccurs="0" maxOccurs="1" nillable="true" type="fm:PersonnavnType" />
          <xs:element name="adresse" minOccurs="0" maxOccurs="1" nillable="true" type="fm:GeografiskAdresseListe" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Personnavn" type="fm:PersonnavnType" />
  <xs:complexType name="PersonnavnListe">
    <xs:sequence>
      <xs:element name="personnavn" type="fm:PersonnavnType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="PersonnavnType">
    <xs:annotation>
      <xs:documentation>Navn på person</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fornavn" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="mellomnavn" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="etternavn" minOccurs="1" maxOccurs="1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="KjoennType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="kvinne" />
      <xs:enumeration value="mann" />
      <xs:enumeration value="ubestemt" />
      <xs:enumeration value="ukjent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="KjoennListe">
    <xs:sequence>
      <xs:element name="kjoenn" type="fm:KjoennType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SivilstandType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ugift" />
      <xs:enumeration value="gift" />
      <xs:enumeration value="enkeEllerEnkemann" />
      <xs:enumeration value="skilt" />
      <xs:enumeration value="separert" />
      <xs:enumeration value="registrertPartner" />
      <xs:enumeration value="separertPartner" />
      <xs:enumeration value="skiltPartner" />
      <xs:enumeration value="gjenlevendePartner" />
      <xs:enumeration value="uoppgitt" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SivilstandListe">
    <xs:sequence>
      <xs:element name="sivilstand" type="fm:SivilstandType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>