xsd/1.0/FINT/Fullmaktsstruktur/fullmaktstruktur.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skjema.kxml.no/fint/fullmaktstruktur/1.0" xmlns:fms="http://skjema.kxml.no/fint/fullmaktstruktur/1.0" elementFormDefault="qualified">
  <!-- Generert av MetaTrans(1.1.0.0) - 02.11.2016 18.24.51-->
  <xs:element name="Rolle" type="fms:RolleType" />
  <xs:complexType name="RolleListe">
    <xs:sequence>
      <xs:element name="rolle" type="fms:RolleType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RolleType">
    <xs:sequence>
      <xs:element name="rolletype" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="saksgang" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="organisasjonselement" minOccurs="0" maxOccurs="1" nillable="true" type="org:OrganisasjonselementListe" />
      <xs:element name="arbeidstaker" minOccurs="0" maxOccurs="1" nillable="true" type="ar:ArbeidstakerListe" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>