xsd/1.0/FINT/Arbeidstaker/arbeidstaker.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fk.no/fint/arbeidstaker/1.0" xmlns:ar="http://fk.no/fint/arbeidstaker/1.0" elementFormDefault="qualified" xmlns:fm="http://fk.no/fint/felles/1.0">
  <!-- Generert av MetaTrans(1.1.0.0) - 03.11.2016 13.56.29-->
  <xs:import namespace="http://fk.no/fint/felles/1.0" schemaLocation="fintfelles.xsd" />
  <xs:element name="Arbeidstaker" type="ar:ArbeidstakerType" />
  <xs:complexType name="ArbeidstakerListe">
    <xs:sequence>
      <xs:element name="arbeidstaker" type="ar:ArbeidstakerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArbeidstakerType">
    <xs:complexContent>
      <xs:extension base="fm:AbstraktPersonType">
        <xs:sequence>
          <xs:element name="stillinger" minOccurs="0" maxOccurs="1" nillable="true" type="ar:StillingListe" />
          <xs:element name="ansettelsesperiode" minOccurs="0" maxOccurs="1" nillable="true" type="fm:PeriodeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Stilling" type="ar:StillingType" />
  <xs:complexType name="StillingListe">
    <xs:sequence>
      <xs:element name="stilling" type="ar:StillingType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StillingType">
    <xs:sequence>
      <xs:element name="avdeling" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="funksjon" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="grunnlonn" minOccurs="1" maxOccurs="1" type="xs:double" />
      <xs:element name="organisasjon" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="status" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="stillingskode" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="stillingsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="stillingsprosent" minOccurs="0" maxOccurs="1" nillable="true" type="xs:double" />
      <xs:element name="stillingstittel" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
      <xs:element name="ansettelsestype" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="stillingsperiode" minOccurs="0" maxOccurs="1" nillable="true" type="fm:PeriodeType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>